*{
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Roboto Condensed', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

a{
	text-decoration: none;
	color: #000;
	font-size: 1em;
}

input{
	&:focus, &:active{
		outline: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #FAFAFA;
}

.content{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1000px;
	height: 100vh;
	margin: auto;
	.arrow-right, .arrow-left{
		width: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		i{
			font-size: 1.5em;
			animation: parpadea 1s infinite;
		}
	}
}

.main {
	width: 80%;
	height: 100vh;
	overflow: hidden;
}

.container{
	width: 300%;
	height: 100vh;
	transition: all .4s;
	.home, .articles, .courses {
		float: left;
		width: 33.333333%;
		padding: 10px;
		margin-top: 50vh;
		transform: translateY(-50%);
	}
}

.home{
	h1{
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		color: #222;
		margin-bottom: 10px;
	}
	.info{
		color: #323232;
		margin-bottom: 10px;
	}
	.buttons{
		.login{
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			button{
				background: #2193f3;
				width: 45%;
				padding: 10px;
				font-weight: bold;
				color: #FFF;
				&:nth-child(2){
					background: #FFAB40;
					color: #222;
				}
			}
		}
		.facebook{
			text-align: center;
			a{
				font-weight: bold;
				color: #FF9100;
			}
		}

	}
}

.articles, .courses{
	h2{
		display: block;
		margin-bottom: 10px;
		font-size: 1.5em;
		font-weight: bold;
		color: #222;
		text-align: center;
	}
	.content-items{
		width: 100%;
		display: flex;
		flex-wrap: wrap;	
		.item{
			width: 100%;
			max-width: 250px;
			height: 200px;
			margin: auto;
			background: #FFF;
			margin-bottom: 10px;
		}
		.item:nth-child(even), .item:nth-child(3), .item:nth-child(5){
			display: none;
		}
	}
	.button{
		display: flex;
		padding-bottom: 10px;
		button{
			width: 100%;
			margin: auto;
			max-width: 250px;
			height: 35px;
			background: #FF9100;
			font-size: 1.2em;
		}
	}
}

.item{
	border-radius: 2px;
	border: .1px solid rgba(0,0,0,.5);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,5);
	.img{
		height: 110px;
		background: url(../img/logo-item.png);
		background-size: 150%;
		background-position: center;
	}

	.content-info{
		height: 90px;
		padding: 10px;
		padding-top: 5px;
		h3{
			font-size: 1.2em;
			font-weight: bold;
		}

		p{
			font-size: .9em;
			text-align: justify;
			margin-bottom: 5px;
		}

		.info-own{
			display: none;
			font-size: .85em;
			font-weight: bold;
			color: rgba(0,0,0,.5);
		}
	}
}


.img{
	position: relative;
	i{
		position: absolute;
		top: 13px;
		right: 3px;
		width: 29px;
		height: 29px;
		font-size: 1.8em;
		color: #FFF;
		border-radius: 50%;
		cursor: pointer;
		transition: all .2s;
		&:hover, &:active{
			background: rgba(0,0,0,.1);
		}
	}
	.about{
		position: absolute;
		top: 10px;
		right: 35px;
		width: 0px;
		height: 0px;
		border-radius: 2px;
		box-shadow: 0 0 5px rgba(0,0,0,.3);
		background: #FFF;
		text-align: center;
		overflow: hidden;
		transition: all .4s;
		a{
			display: block;
			padding: 5px;
		}
	}
}

.log-in{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50vh;
	left: 50%;
	width: 0%;
	height: 0vh;
	background: rgba(0,0,0,.5);
	overflow: hidden;
	transform: translate(-50%, -50%);
	transform-origin: center;
	transition: all .3s;
	h4{
		display: block;
		text-align: center;
		font-size: 1.5em;
		color: #424242;
	}
	.form-container{
		width: 90%;
		max-width: 500px;
		padding: 20px;
		border-radius: 2px;
		box-shadow: 0 0 5px rgba(0,0,0,.8);
		background: #FFF;
		.form-input{
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			input{
				width: 100%;
				padding: 22px 5px 5px 10px;
				border-bottom: 1px solid #FF9100;
				font-size: 1em;
				transition: all .4s;
				&:focus, &:active{
					border-bottom: 2px solid #FF6D00;
				}
			}
			label{
				position: absolute;
				top: 15px;
				left: 5px;
				font-size: 1.2em;
				transition: all .4s;
				color: #2193f3;
				&.label-active{
					top: 0px;
					left: 0px;
					font-size: .8em;
					opacity: .8;
				}
			}
		}
		.form-button{
			display: flex;
			justify-content: space-between;
			margin-top: 20px;
			padding: 0px;
			input{
				background: #FFAB40;
				box-shadow: 0 0 3px rgba(0,0,0,.5);
				color: #222;
			}

			button{
				background: transparent;
				font-weight: bold;
				color: #FFAB40;
				transition: all .4s;
				&:hover{
					background: rgba(0,0,0,.1);
				}
			}
			input,button{
				padding: 7px 20px;
				font-size: 1.2em;
			}
		}
	}
}

/* helpers */

button{
	border-radius: 2px;
}

/* Animation */

@Keyframes parpadea{
	0%{
		color: #222; 
	}
  	100% { 
  		color: #FF6D00; 
  	}
}

/* media querys */

@media screen and (min-width: 320px){
	.content{
		.arrow-right, .arrow-left{
			i{
				font-size: 2em;
			}
		}
	}

	.home{
		.buttons{
			.facebook{
				a{
					font-size: 1.2em;
				}
			}
		}
	}
	.item{
		.content-info{
			.info-own{
				display: flex;
				justify-content: space-between;
				}
			}
		}	
	}

@media screen and (min-width: 768px){
	.content{
		.arrow-right, .arrow-left{
			i{
				font-size: 4em;
			}
		}
	}

	.home{
		h1{
			width: 70%;
			margin: auto;
			font-size: 1.7em;
			margin-bottom: 10px;
		}
		.info{
			width: 70%;
			margin: auto;
			margin-bottom: 10px;
		}
		.buttons{
			width: 70%;
			margin: auto;
			.login{
				button{
					font-size: 1.2em;
				}
			}
		}
	}


	.articles, .courses{
		.content-items{
			.item:nth-child(even), .item:nth-child(3){
				display: block;
			}
			.item:nth-child(6){
				display: none;
			}
		}
	}	
}

@media screen and (min-width: 1024px){
	.content{
		.arrow-right, .arrow-left{
			i{
				font-size: 5.5em;
			}
		}
	}

	.articles, .courses{
		.content-items{
			.item:nth-child(5), .item:nth-child(6){
				display: block;
			}
		}
	}	
}

@media screen and (min-height: 600px){
	.articles, .courses{
		.content-items{
			.item:nth-child(2){
				display: block;
			}
		}
	}
}